body{
    margin: 0;
    box-sizing: border-box;
    display: flex;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(#667eea7e 0%, #764ba298 100%), url("https://images.unsplash.com/photo-1622021142947-da7dedc7c39a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-repeat: no-repeat;   
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    flex-direction: column;
}

.hero{
    text-align: center;
    color:white;
    font-family: 'Parisienne', cursive;
    justify-content: center;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;  
}



.formulario{
    font-family: 'Mulish', sans-serif;
    background: rgba(5,7, 12, 0.40);
    border-radius: 1%;
    color: white;
    font-size: 13px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px;
    box-shadow:0 0 40px -10px #000;
    max-width:calc(100vw - 40px);
    text-align: start;   
    
}

.input_dates{
    width: 100%;
}

.textinput {
    width: 75%;
    min-height: 50px;
    outline: none;
    border: 1px solid grey;  
}

input{
 border-radius: 5px;
 border: 1px solid grey;
 box-shadow: 3px 2px 3px rgba(0,0,0,0.5);
}


button{
    width: 80%;
    justify-content: flex-end;
    font-family: 'Mulish', sans-serif;
    border-bottom: #78788c;
}
button:hover{
    background:#78788c;
    color:#fff;
    transition: 0.1s;
    cursor: pointer;
}
